@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome</h1>
     <p>This project is to practice <b>CRUD</b> Operations in .NET 6 with <b>Razor Views.</b></p>
    <p>You could explore this project at <b>Categories</b> section or <a asp-controller="Category" asp-action="Index">here</a>.</p>
    <b>Topics covered in this project.</b>
    <div class="pull-left">
        <ul style="list-style-type:none">
            <li> <i class="bi bi-forward"></i> CRUD Operations</li>
            <li> <i class="bi bi-forward"></i> Routing</li>
            <li> <i class="bi bi-forward"></i> Validations</li>
            <li> <i class="bi bi-forward"></i> Partial views</li>
            <li> <i class="bi bi-forward"></i> Toster notificaion with CDN.</li>
        </ul>
    </div>
    <p>You can get source at <h2><i class="bi bi-github"></i></h2></p>
</div>
